<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kitchen_bot_with_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import kitchen_bot_with_arm urdf file -->
    <xacro:include filename="$(find kitchen_moveit)/urdf/kitchen_bot_with_arm.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="kitchen_bot_with_arm.ros2_control.xacro" />


    <xacro:kitchen_bot_with_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
